<h1>Home</h1>

<p> The home page is more like a read me for our web page, in that it tells you about the website. Information that could be added is: </p>

<ol>
	<li>
		Getting Started
		<ul>
			<li> Creating levels </li>
			<li> Managing Levels </li>
			<li> Playing Levles </li>
		</ul>
	</li>
	<li> Website goal </li>
	<li> </li>
</ol>

